body {
  background: linear-gradient(to bottom, #ffb6c1, #ffd1dc);
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100vh;
}

.card {
  background: white;
  width: 350px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  margin-top: 100px;
}

.cat {
  width: 120px;
}

button {
  padding: 10px 25px;
  font-size: 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #ddd;
}

.buttons {
  margin-top: 20px;
}




.result-img {
  max-width: 300px;      /* controls size */
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;     /* centers the image */
}

.card {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 20px;
  max-width: 400px;
  margin: 50px auto;
}
