* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.page {
  display: none;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page.active {
  display: flex;
  background: pink;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

button {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  background: #ff4d6d;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.no-btn {
  position: absolute;
  bottom: 40px;
  background: #ddd;
  color: black;
}

/* PANDA PAGE */
.panda-page {
  background: black;
}

.panda {
  width: 320px;
}

/* BLINKING NO */
.blink-no {
  margin-top: 30px;
  background: red;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* FINAL PAGE */
.forever-page {
  background: #ffe6ea;
}

.mini-pic {
  width: 120px;
  margin-bottom: 15px;
}

h1 {
  color: #d6336c;
}
